.container {
  height: 100vh;
  padding: 2em;
}

.product-card {
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
  border-radius: 0.5em;
  border: 1px solid #ccc;
}

.product-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;
}

.load-more-button {
  margin-top: 1em;
  padding: 0.5em 1em;
  font-size: 1em;
  border: none;
  border-radius: 0.5em;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.load-more-button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}
